:root{
    --white: #f8f8f8;
    --navy: #1D506F;
    --pink: #F49FF0;
    --pinterest:#e60023;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0 auto;
    max-width: 75rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 1.65;
    color:var(--white);
    background-color: var(--navy);
   
}

figure {
    margin:0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

svg{
    display: block;
    width: 50px;
    height: auto;
}
p {
    margin: 0 0 1rem;
}

p:last-of-type{
    margin: 0;
}

a{
    color:var(--pink);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 300ms ease-in-out;
}

a:focus,
a:hover,
a:active{
    border-bottom: 2px solid var(--pink);
}

.access-hidden {
    clip:rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width:1px;
}

.grid_container{
    display: grid;
    grid-template-columns: 2fr 4fr;
}